#title{
  background-color: #ff4c68;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  /* this class is already bootstrapped , but we want to overwrite some styles */
  padding: 3% 15% 7%;
}

/* title */
.h1-title{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;
  color: white;

}
/* navigation bar */
.navbar{
  padding: 0 0;
}
.nav-item{
   padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: lighter;

}

.navbar-brand{
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.5rem;
   font-weight: bold;
}

.title-img{
  transform: rotate(25deg);
  width: 57%;
  position: absolute;
  right:30%;
}


/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}


/* features */
.features{
   padding: 70px 160px;
   text-align: center;
   background-color: #fff;
   position: relative;
}
.icon-features{
  color: #ef8172;
  padding: 20px;
}
.icon-features:hover{
  color:#ff4c68;
}
.h3-features{
  font-family:"Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}


/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
    padding:7% 15%;
}

.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

 /* press */
 #press{
     background-color: #ef8172;
     text-align: center;
     padding-bottom: 3%;
 }
.press-logo{
  width:15%;
  margin:20px 20px  50px;
}

/* pricing */
#pricing{
  text-align: center;
  padding: 100px;
}
.pricing-col{
  padding: 3% 2%;
}


/* call-to-action */
.call-to-action{
  padding: 7% 17%;
  background-color: #ff4c68;
  text-align:center;
}
.h3-action{
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;

}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
   .title-img{
        transform: rotate(0);
        position: static;

   }
}
